flows1.json
[{"id":"f9aad2e.8a6853","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"53a72514.2bc54c","type":"rpi-gpio in","z":"f9aad2e.8a6853","name":"button","pin":"7","intype":"up","debounce":"25","read":false,"x":180,"y":200,"wires":[["12c6ad21.1505c3","abfc4b00.d44eb8"]]},{"id":"12c6ad21.1505c3","type":"switch","z":"f9aad2e.8a6853","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":300,"wires":[["95ad0737.7b6b28"],["1afbbb05.d38135"]]},{"id":"95ad0737.7b6b28","type":"change","z":"f9aad2e.8a6853","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["ecab9714.1d70d8"]]},{"id":"ecab9714.1d70d8","type":"rpi-gpio out","z":"f9aad2e.8a6853","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":830,"y":360,"wires":[]},{"id":"abfc4b00.d44eb8","type":"debug","z":"f9aad2e.8a6853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"1afbbb05.d38135","type":"change","z":"f9aad2e.8a6853","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":500,"wires":[["ecab9714.1d70d8"]]}]