flows2.json
[{"id":"2463fd97.6a5e32","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a8900514.de1858","type":"function","z":"2463fd97.6a5e32","name":"","func":"msg.headers={\n    deviceKey:\"Zt8h20yZldy8m8sl\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["ed908896.0502a8"]]},{"id":"ed908896.0502a8","type":"http request","z":"2463fd97.6a5e32","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D91SYUp0/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":240,"wires":[["d34dc517.d973e8","c70d4bf1.89e0f8"]]},{"id":"d34dc517.d973e8","type":"http response","z":"2463fd97.6a5e32","name":"","statusCode":"","headers":{},"x":820,"y":360,"wires":[]},{"id":"c70d4bf1.89e0f8","type":"debug","z":"2463fd97.6a5e32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":460,"wires":[]},{"id":"3ad08f1d.ccaa2","type":"inject","z":"2463fd97.6a5e32","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["a8900514.de1858"]]}]