flows3.json
[{"id":"2a6bfc95.226044","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"364771c0.d8b9de","type":"inject","z":"2a6bfc95.226044","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":160,"wires":[["6e144b2d.da76d4"]]},{"id":"6e144b2d.da76d4","type":"function","z":"2a6bfc95.226044","name":"","func":"msg.headers={\n    deviceKey:\"Zt8h20yZldy8m8sl\"\n};\nmsg.payload=\"Temperature,,29.3\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["c2d5388a.f93a48"]]},{"id":"c2d5388a.f93a48","type":"http request","z":"2a6bfc95.226044","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D91SYUp0/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":420,"wires":[["a4fb094c.9ed5d8"]]},{"id":"a4fb094c.9ed5d8","type":"http response","z":"2a6bfc95.226044","name":"","statusCode":"","headers":{},"x":460,"y":600,"wires":[]}]